@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

body {
    background-image: url('world.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top 35px left 25px;
}
h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #CF9EAA;
    margin-top: 2em;
    margin-bottom: 1.5em;
    text-align: center;
}

.flex-container {
    width: 650px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.country {
    height: 180px;
    width: 180px;
    margin: .5em;
    background-color: #D5E6E4;
    border-radius: 20px;
    text-align: center;
}
